<div class="container">
  <br>
  <div class="container text-center">
    <h1>About Us</h1>
  <br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col"><b>MIUPC</b><br>Hi, I mostly work on the information page (This one :D), the front end of our program. I mostly use HTML and CSS.</div>
      <div class="col"><b>Eli Saado</b><br>I do, well, uh, really anything</div>
      <div class="col"><b>CB101</b><br>I'm one of the front-end developers for this website, just making sure the website looks, appears, and feels okay. It makes for a great place to use my hobby of design and markup (maybe later even back-end, in a while), so go ahead and see what you think!</div>
    </div>
  </div>
</div>