<div class="container">
  <br>
  <div class="container text-center">
    <h1>Contact</h1>
    <div>Might you find yourself having a reason, urge, or longing to contact us,
    you've clicked on the right item.</div>
  </div>
  <br><br>
  <div class="container text-center">
    <b>Where to contact us</b>
    <ul>
      <li>Eli Saado: <a href="https://t.me/elinotly">@elinotly</a> on Telegram
      <li>MIUPC: <a href="https://t.me/Gluipertje">@Gluipertje</a> on Telegram
      <li>CB101: <a href="https://t.me/CB101">@CB101</a> on Telegram
    </ul>
  </div>
</div>